NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY=CLERK_SECRET_KEY

CLERK_SIGNIN_REDIRECT_URL=/sign-in
CLERK_SIGNUP_REDIRECT_URL=/sign-up

INSTAMATE_MONGODB_URI=INSTAMATE_MONGODB_URI